body{
	background: url(background.jpg);
	background-size: cover;
}
#Registerform{
	width: 500px;
	height: 670px;
    padding: 25px;
    color: white;
    font-family: calibri;
    border-radius: 3px;
	margin-left: 500px;
}	
#registerform h1{
	    margin: 0;
    font-size: 22px;
    margin-bottom: 20px;
font-weight: normal;}
#txtbox{
		background: #24303c;
    border: 1px solid #1f53c5;
    font-size: 24px;
    font-family: Calibri;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
	color: white;
}	
#registerform p{
		float: left;
    font-size: 18px;
    margin: 0 5px 0 0;
}
#registerform a{
	font-size: 18px;
	color: white;
}	
#btn{
		width: 100%;
	margin: 16px 0px;
	background: #1f53c5;
	border: 0;
	color: white;
	padding: 12px;
	font-size: 16px;
}	